.site-branding,.main-navigation{
	   display: inline-block;

}

.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-navigation li {
    float: left;
}

.main-navigation li a {
    display: block;
    padding: 8px;	
    text-decoration: none;
    
}
.homepage-top-heading,.homepage-top-description,.astrology-category-heading,.col,.astrology-working-heading,.astrolog-image,.astrology-working-description,.astrobhasha-statistic-heading,.astrobhasha-statistic-description,.astrobhasha-statistic-speciality,.astrobhasha-statistic-show{
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}	

.homepage-top-button,.astrology-working-consult,.astrobhasha-statistic-subscribe{
    text-align: center;
}
.button {
    position: unset;

}

.homepage-top-heading h3{
	text-align: center;
}


.homepage-top{
	background-color: antiquewhite;
}


.astrology-category{
	background-color: #e8d3b5;
}
.homepage-category-title h4{
	display: inline-block;
}
.homepage-category-description{
	display: inline-block;
    width: 300px;
}
.col{
 	display: inline-block;
}
.homepage-category-image img{
	height: 50px;
	width: 50px;
}

.astrology-working{
	background-color: #ab9981;
}

.astrology-working-description{
	margin: auto;
}
.astrobhasha-statistic{
	background-color: #bd977b
}

.ytc_video_container{
	display: inline-block;
}

.video-main{
	height: 150px;
	width: 200px;
}